*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f4f4f4;
}

header{
text-align:center;
padding:30px;
background:#333;
color:white;
}

.container{
display:grid;
grid-template-columns: repeat(3, 1fr);
gap:20px;
padding:40px;
}

.card{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
text-align:center;
}

/* Mobile View */

@media (max-width:768px){

.container{
grid-template-columns:1fr;
}

}
img{
    width:350px;
}